* {
  box-sizing: border-box;
}
a {
  color: white !important;
}
a:hover {
  color: green !important;
}
#container {
  width: 100vw;
  height: 100vh;
  background-color: #16161a;
}

.graycolor {
  background-color: #232e35;
}

.textcenter {
  text-align: center;
  color: white;
}

.margauto {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: space-around;
}
